
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #f8f9fa;
    font-size: 14px;
    overflow: hidden;
    background:  var(  --bs-secondary);
    padding: 20px;
    /* background: red; */
    line-height: 1.8;
}


.header__left a{
    font-size: 24px;
    text-decoration: none;
    color: #f8f9fa;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}
.header__right{
    display: flex;
  
}

.header__right .a{
    font-size: 14px;
    text-decoration: none;
    color:#d4d6d8dc;
    cursor: pointer;
    padding: 10px 15px;
    font-family:"Open Sans", sans-serif;
}

.header__right a:hover{
    color: white;
}
.menu a{
    text-decoration: none;
    color: black;
    padding: 5px 20px;
    /* padding: 10px; */
}

.menu, .submenu{
   margin-top: 10px;
   padding: 20px 0;
   min-width: 180px;
    display: none;
    background: white;
    color: black;
    position:absolute;
    box-shadow: 0 2px 10px -2px rgb(0 0 0 / 10%);
    /* width:200px; */
}
.menu2 span{
    position:absolute;
}
.submenu{
    margin-top: -40px;
    left:180px
}

.menu a:hover{
    color:var(--bs-primary);
    /* padding:10px; */
}
.dropdown  .dropbelow::before{
    content: '^';
    transform: rotate(180deg);
    position: absolute;
    margin-left: 10px;
}
.menu2 span{
    transform: rotate(90deg);
    margin-left: 100px;
}
.dropdown:hover .menu{
    display: block; 
}
.menu2:hover .submenu {
        display: block;
}

.menu a{
    display: block;
    /* padding: 10px; */
    cursor: pointer;
}

 
   .menu-btn{
       display: none;
   }

   .drawer{
       display: none;
   }

  @media (max-width:992px){
   .header__right{
       display: none;
   }
   .menu-btn{
    width: 28px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    
  }

  .menu-btn:hover{
       justify-content: space-around;
  }

  .menu-btn div{
    background: white;
    width:26px;
    height: 2px;
   } 
  
   .drawer{
        position: fixed;
        top:0;
        right: 0;
        bottom: 0;
        left: 0;
        transition: transform .5s;
        display: flex;
        
   }
   .drawer-open{
    transform: translateX(100%);
   }
   .rotate{
    transform: rotate(180deg);
   }
   .drawer-cover{
    flex:1;
    
   }
    .main-drawer{
        background:white;
        flex-basis: 300px;
    
    }
   .drawer .mobile-main-menu {
       list-style: none;
       background:white;
       color: #212529;
       padding: 0 20px 150px;
   }
   .drawer .mobile-main-menu li{
       padding: 10px;
   }
   .close{
       text-align: right;    
   }
   .drawer a{
       color: var(--bs-gray-dark);
       text-decoration: none;
   }
   .main-drawer .mobile-main-menu li{
    font-family:"Open Sans" ,sans-serif;
       color: black;
       font-size: 14px;
       padding: 5px 20px;
       font-weight: 700;
       line-height: 1.8;
       position: relative;
   }
   .showmobilemenubtn{
    
       width: 15px;
       height: 15px;
       transition:  0.5s transform ease-out; 
       cursor: pointer;
       position: absolute;
       border-radius: 100%;
       border:.5px solid var(--bs-light);
       background: white;
       position: absolute;
       right: 0; 
       
   }
   .mobilemenu{
       margin-left:20px
   }

  
  .close img{
      width: 50px;
      cursor: pointer;
  }
  }
  li{
      list-style: none;
  }