
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #f8f9fa;
    font-size: 14px;
    overflow: hidden;
    background:  var(  --bs-secondary);
    padding: 20px;
}


.header__left a{
    font-size: 24px;
    text-decoration: none;
    color: #f8f9fa;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}
.header__right{
    display: flex;
  
}

.header__right a{
    margin-left: 20px;
    font-size: 14px;
    text-decoration: none;
    color:#d4d6d8dc;
    cursor: pointer;
    padding: 10px 15px;
    font-family:"Open Sans", sans-serif;
}

.header__right a:hover{
    color: white;
}
.menu a{
    text-decoration: none;
    color: black;
    padding: 10px;
}

.menu, .submenu{
   margin-top: 10px;
    display: none;
    background: white;
    color: black;
    position:absolute;
    width:200px;
}
.menu2 span{
    position:absolute;
}
.submenu{
    margin-top: -20px;
    left:200px
}

.menu a:hover{
    color:var(--bs-primary);
    padding:10px;
}
.dropdown  span{
    position: absolute;
    transform: rotate(180deg);
    margin-left: 10px;
}
.menu2 span{
    transform: rotate(90deg);
    margin-left: 100px;
}
.dropdown:hover .menu{
    display: block; 
}
.menu2:hover .submenu {
        display: block;
}

.menu a{
    display: block;
    padding: 10px;
    cursor: pointer;
}

 
   .menu-btn{
       display: none;
   }

   .drawer{
       display: none;
   }

  @media (max-width:992px){
   .header__right{
       display: none;
   }
   .menu-btn{
    width: 28px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    
  }

  .menu-btn:hover{
       justify-content: space-around;
  }

  .menu-btn div{
    background: white;
    width:26px;
    height: 2px;
   } 
  
   .drawer{
        position: fixed;
        top:0;
        right: 0;
        bottom: 0;
        left: 0;
        transition: transform .5s;
        display: flex;
        
   }
   .drawer-cover{
    flex-basis: 70%;
   }
    
   .drawer ul {
       list-style: none;
       flex-basis: 300px;
       background:white;
   }
   .drawer ul li{
       padding: 10px;
       margin-left: 20px;
   }
   .close{
       text-align: right;
        
   }
   .drawer a{
       color: var(--bs-gray-dark);
       text-decoration: none;
   }
   .drawer li{
       
       color: black;
       font-size: 14px;
   }
   .showmobilemenubtn{
     
       width: 30px;
       height: 30px;
       transition:  0.5s transform ease-out; 
       cursor: pointer;
       position: absolute;
       border-radius: 100%;
       border:1px solid var(--bs-gray);
    
      margin-left: 100px;
       
   }
   .mobilemenu{
       margin-left: 10px;
   }
  .close{
      cursor: pointer;
  }
  .close img{
      width: 50px;
  }
  }