.imageslider{
    min-height: 90vh;
    background:var(  --bs-light);
   /* width: 80%; */
   text-align: center; 
   margin-left: auto;
   margin-right: auto;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   padding-top: 100px;
   padding-bottom: 100px;
}
.imageslider__container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.imageslider .card{
   width: 60%;
   margin-left: auto;
   margin-right: auto;
   flex-basis: 50%;
   color: #212529;
   
} 

.imageslider .card img{
    margin-bottom: 30px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid white;
}
.imageslider .card h3{
    font-size: 16px;
    font-family: 'Montserrat', sans-serf;
}
.imageslider .card span{
    display: block;
    margin-bottom: 20px;
    font-size: 14px;
    font-family:"Open Sans" ,sans-serif;
}
.imageslider .card p{
    margin-bottom: 20px;
    font-family: Georgia, serif;
    font-style: italic;
    color: #212529;
    margin-bottom: 20px;

}
.round__group{
    
}

.round {
    width: 7px;
    height: 7px;
    background: #e2e2e2;
    border-radius: 50%;
    margin-right: 10px;
   display: inline-block;
   cursor: pointer;

}
.leftarrow, .rightarrow{
    flex-basis: 20%;
}
.arrow{
    width: 10px !important;
    cursor: pointer;
  
}
@media (max-width:560px){
    .leftarrow, .rightarrow{
        display: none;
        
    }
  .imageslider  .card{
        flex-basis: 90%;

    }
}